{
  "key": "keywords",
  "value": [
    {
      "title":"Leica M10-R",
      "url":"https://www.mapcamera.com/search?keyword=Leica%20M10-R&igngkeyword=1&maker=13&category=1&status=stock",
      "ntfy_topic": "xxxxx"
    }
  ]
}
