[
  {
    "title":"Leica M3",
    "url":"https://search.mapcamera.com/film_camera/35mm_rangefinder_body?category=12&keyword=Leica+M3",
    "user_credentials": "xxxxxxxxxxxxxxxxxxxx"
  },
  {
    "title":"Leica M2",
    "url":"https://search.mapcamera.com/film_camera/35mm_rangefinder_body?category=12&keyword=Leica+M2",
    "user_credentials": "xxxxxxxxxxxxxxxxxxxx"
  }
]
